<div class="row">    
    <div class="col-md-12">
        <div class="page-header">
            <h3>Oh dear... One of us caused a 404 error :( <br /> <br />Let me make it up to you with a song.</h3>
        </div>               
    </div>           
</div>

<div class="row">

	<object>
		<embed src="__HTTP_ADDRESS__img/guitar.swf" type="application/x-shockwave-flash">
		</embed>
	</object>
	<embed src="__HTTP_ADDRESS__mp3/schaik.mp3" autostart="false" loop="FALSE"></embed>
</div>